<section id="project">

  <h2><%= project.title %></h2>

  <section id="project-campaigns">

    <header>
      <h3 class="threequarter">Kampagnen</h3>
      <nav class="quarter secondary">
        <form action="<%= Campaign.createlink(project) %>" method="post">
          <button class="btn btn-square icon-plus">Kampagne Anlegen</button>
        </form>
      </nav>
    </header>

    <% if project.campaigns.empty? %>
      <p>Noch keine Kampagne angelegt.</p>
    <% else %>
      <table class="width-100 striped">

        <thead>
          <tr>
            <th colspan="2">Titel</th>
          </tr>
        </thead>

        <tbody>
          <% for campaign in project.campaigns %>
            <tr>
              <td>
                <a href="<%= campaign.link %>" title="Besucher"><%= campaign.title %> »</a></td>
              <td>
                <a class="icons" href="<%= campaign.editlink %>" title="Bearbeiten">&#x21;</a>
              </td>
            </tr>
          <% end %>
        </tbody>

      </table>
    <% end %>

  </section>

  <section id="project-tracking-code">

    <h3>Tracking Code</h3>

    <p>Das ist der Tracking Code für <strong><%= project.title %></strong>. Diesen Code auf jede Seite, die getrackt werden soll, vor dem <code>&lt;/body></code> Tag einfügen.</p>

    <pre>&lt;script type="text/javascript">
  (function() {
    var t = document.createElement('script');
    t.type = 'text/javascript'; t.async = true; t.id = '_monkey-tracker';
    t.src = '//<%= domain %>/track/<%= project.project_hash %>.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
&lt;/script></pre>

  </section>

</section>
