<section id="projects">

  <header class="row">
    <h2 class="threequarter">Projekte</h2>
    <nav class="quarter secondary">
      <form action="<%= Project.createlink %>" method="post">
        <button class="btn icon-plus">Neues Projekt</button>
      </form>
    </nav>
  </header>

  <% if projects.each do |project| %>

    <h3>
      <a href="<%= project.link %>" title="<%= project.title %>"><%= project.title %></a>
    </h3>

    <table class="width-100 striped">

      <thead>
        <tr>
          <th>Kampagne</th>
          <th class="center">Besucher</th>
        </tr>
      </thead>

      <tbody>

        <% if project.campaigns.each do |campaign| %>

          <tr>
            <td>
              <a href="<%= campaign.link %>" title="<%= campaign.title %>"><%= campaign.title %> »</a>
            </td>
            <td class="center"><%= CampaignHit.all(campaign: campaign).count %></td>
          </tr>

        <% end.empty? %>

          <tr>
            <td colspan="2">Noch keine Kampagne vorhanden.</td>
          </tr>

        <% end %>

      </tbody>

    </table>


  <% end.empty? %>

    <p>Noch kein Projekt vorhanden.</p>

  <% end %>

</section>
