<%= erb :_breadcrumbs, locals: { breadcrumbs: [{ title: 'Projekte', href: Project.link }, { title: project.title }] } %>

<section id="project" class="row">

  <h3 class="half"><%= project.title %></h3>

  <nav class="half toolbar">
    <a class="icons green" href="<%= project.editlink %>" title="Projekt bearbeiten">&#x21;</a>
    <a class="icons red delete" href="<%= project.deletelink %>" data-method="delete" data-confirm="Projekt löschen? Alle zugehörigen Kampagnen werden ebenfalls entfernt." rel="nofollow" title="Projekt löschen">&#x78;</a>
  </nav>

</section>

<section id="project-campaigns" class="row">

  <table class="width-100 striped">

    <thead>
      <tr>
        <th>Kampagne</th>
        <th class="center">Verkäufe</th>
        <th class="center">Besucher</th>
        <th class="right">
          <form action="<%= Campaign.createlink(project) %>" method="post">
            <button class="btn btn-small icon-plus">Neue Kampagne</button>
          </form>
        </th>
      </tr>
    </thead>

    <tbody>

      <% if project.campaigns.each do |campaign| %>

        <tr>
          <td>
            <a href="<%= campaign.link %>" title="<%= campaign.title %>"><%= campaign.title %> »</a>
          </td>
          <td class="center"><%= Order.all(campaign: campaign).count %></td>
          <td class="center"><%= CampaignHit.all(campaign: campaign).count %></td>
          <td></td>
        </tr>

      <% end.empty? %>

        <tr>
          <td colspan="3">Noch keine Kampagne vorhanden.</td>
        </tr>

      <% end %>

    </tbody>

  </table>

</section>

<section id="project-tracking-code" class="row">

  <h3>Tracking Code</h3>

  <p>Das ist der Tracking Code für <strong><%= project.title %></strong>. Diesen Code auf jede Seite, die getrackt werden soll, vor dem <code>&lt;/body></code> Tag einfügen.</p>

  <pre>&lt;script type="text/javascript">
(function() {
  var t = document.createElement('script');
  t.type = 'text/javascript'; t.async = true; t.id = '_monkey-tracker';
  t.src = '//<%= domain %>/track/<%= project.project_hash %>.js';
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(t, s);
})();
&lt;/script></pre>

</section>

